<div class="page-width rich-text">
  <div class="grid">
    <div class="grid__item {% unless block.settings.full_width %} medium-up--two-thirds medium-up--push-one-sixth{% endunless %}">
      {% if block.settings.section_title != blank %}
        <div class="rich-text__heading--{{ block.settings.text_size }} text-center">
          <h2 class="h3">{{ block.settings.section_title | escape }}</h2>
        </div>
      {% endif %}
      {% if block.settings.text != blank %}
        <div class="rich-text__text--{{ block.settings.text_size }} rte-setting text-center">{{ block.settings.text }}</div>
      {% endif %}
    </div>
  </div>
</div>