<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}
<div id="TestimonialWrappe-{{section.id}}" data-section-id="{{ section.id }}">
  <div class="slick-slider">
    <div class="slick-list">
      <div class="slick-track">
        <div class="hero__text-wrap" style="position: relative;">
          <div class="hero__text-align wrapper">
            <div class="hero__text-content" data-hero-text-content="" style="opacity: 1;">
              <h2>Testimonial</h2>
              {{section.settings}}
              <p class="hero__subtitle" data-live-text-setting="section.slideshow.block.1495823280244.slide_subheading/escape">
                  Welcome To
                </p><h2 class="hero__title h1" data-live-text-setting="section.slideshow.block.1495823280244.slide_heading/escape">
                  Pure Happiness
                </h2></div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Testimonial"
  },
  "class": "index-section index-slideshow-section shopify-section--full-width",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "home_hero_height",
      "label": {
        "en": "Slide height"
      },
      "default": "full",
      "info": {
        "en": "Learn more about [slideshow guidelines](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/brooklyn/sections/home-sections#slideshow)"
      },
      "options": [
        {
          "value": "full",
          "label": {
            "en": "Full screen"
          }
        },
        {
          "value": "adapt",
          "label": {
            "en": "Adapt to first image"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "hero_home_auto",
      "label": {
        "en": "Auto-rotate slides"
      },
      "default": false
    },
    {
      "type": "range",
      "id": "home_hero_auto_speed",
      "label": {
        "en": "Change slides every"
      },
      "max": 9,
      "min": 3,
      "step": 2,
      "unit": {
        "en": " s"
      },
      "default": 5
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Testimonial"
      },
      "category": {
        "en": "Promotional"
      },
      "settings": {
        "hero_home_auto": false,
        "home_hero_auto_speed": 5
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": {
        "en": "Slide"
      },
      "settings": [
      ]
    }
  ]
}
{% endschema %}
